AuthorityClient/Service References/RoleSer/RoleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3381/RoleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3381/RoleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3381/RoleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:3381/RoleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AuthorityEntity" />
      <xsd:import schemaLocation="http://localhost:3381/RoleService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sharp.Common" />
      <xsd:import schemaLocation="http://localhost:3381/RoleService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:3381/RoleService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3381/RoleService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Text" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoleService_GetAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllList" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetAllEnableList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEnableList" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetAllEnableList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEnableListResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Exit_InputMessage">
    <wsdl:part name="parameters" element="tns:Exit" />
  </wsdl:message>
  <wsdl:message name="IRoleService_Exit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExitResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetRoleClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleClass" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetRoleClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleClassResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoleService">
    <wsdl:operation name="GetAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetAllList" message="tns:IRoleService_GetAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetAllListResponse" message="tns:IRoleService_GetAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEnableList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetAllEnableList" message="tns:IRoleService_GetAllEnableList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetAllEnableListResponse" message="tns:IRoleService_GetAllEnableList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/Save" message="tns:IRoleService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/SaveResponse" message="tns:IRoleService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/Delete" message="tns:IRoleService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/DeleteResponse" message="tns:IRoleService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exit">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/Exit" message="tns:IRoleService_Exit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/ExitResponse" message="tns:IRoleService_Exit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetRoleClass" message="tns:IRoleService_GetRoleClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetRoleClassResponse" message="tns:IRoleService_GetRoleClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetUserList" message="tns:IRoleService_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetUserListResponse" message="tns:IRoleService_GetUserList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoleService" type="tns:IRoleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllList">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEnableList">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetAllEnableList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IRoleService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IRoleService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exit">
      <soap:operation soapAction="http://tempuri.org/IRoleService/Exit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleClass">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetRoleClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleService">
    <wsdl:port name="BasicHttpBinding_IRoleService" binding="tns:BasicHttpBinding_IRoleService">
      <soap:address location="http://localhost:3381/RoleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>