AuthorityClient/Service References/FunctionInfoSer/FunctionInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FunctionInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3381/FunctionInfoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3381/FunctionInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3381/FunctionInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:3381/FunctionInfoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AuthorityEntity" />
      <xsd:import schemaLocation="http://localhost:3381/FunctionInfoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sharp.Common" />
      <xsd:import schemaLocation="http://localhost:3381/FunctionInfoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:3381/FunctionInfoService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3381/FunctionInfoService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Text" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFunctionInfoService_GetAllList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllList" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetAllList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_SaveList_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveList" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_SaveList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveListResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_Exit_InputMessage">
    <wsdl:part name="parameters" element="tns:Exit" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_Exit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExitResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetGroupClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupClass" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetGroupClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupClassResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_FindDefaultMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:FindDefaultMenu" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_FindDefaultMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindDefaultMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetEntityByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityByName" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetEntityByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntity" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetCanSetPermissionFunc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCanSetPermissionFunc" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetCanSetPermissionFunc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCanSetPermissionFuncResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetCanSetPermissionMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCanSetPermissionMenu" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetCanSetPermissionMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCanSetPermissionMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetPermission_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermission" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetPermission_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissionResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_SavePermission_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePermission" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_SavePermission_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePermissionResponse" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetAllFunctByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFunctByRole" />
  </wsdl:message>
  <wsdl:message name="IFunctionInfoService_GetAllFunctByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFunctByRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IFunctionInfoService">
    <wsdl:operation name="GetAllList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/GetAllList" message="tns:IFunctionInfoService_GetAllList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/GetAllListResponse" message="tns:IFunctionInfoService_GetAllList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/Save" message="tns:IFunctionInfoService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/SaveResponse" message="tns:IFunctionInfoService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/SaveList" message="tns:IFunctionInfoService_SaveList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/SaveListResponse" message="tns:IFunctionInfoService_SaveList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/Delete" message="tns:IFunctionInfoService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/DeleteResponse" message="tns:IFunctionInfoService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exit">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/Exit" message="tns:IFunctionInfoService_Exit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/ExitResponse" message="tns:IFunctionInfoService_Exit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/GetGroupClass" message="tns:IFunctionInfoService_GetGroupClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/GetGroupClassResponse" message="tns:IFunctionInfoService_GetGroupClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindDefaultMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/FindDefaultMenu" message="tns:IFunctionInfoService_FindDefaultMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/FindDefaultMenuResponse" message="tns:IFunctionInfoService_FindDefaultMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/GetEntityByName" message="tns:IFunctionInfoService_GetEntityByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/GetEntityByNameResponse" message="tns:IFunctionInfoService_GetEntityByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/GetEntity" message="tns:IFunctionInfoService_GetEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/GetEntityResponse" message="tns:IFunctionInfoService_GetEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCanSetPermissionFunc">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/GetCanSetPermissionFunc" message="tns:IFunctionInfoService_GetCanSetPermissionFunc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/GetCanSetPermissionFuncResponse" message="tns:IFunctionInfoService_GetCanSetPermissionFunc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCanSetPermissionMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/GetCanSetPermissionMenu" message="tns:IFunctionInfoService_GetCanSetPermissionMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/GetCanSetPermissionMenuResponse" message="tns:IFunctionInfoService_GetCanSetPermissionMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermission">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/GetPermission" message="tns:IFunctionInfoService_GetPermission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/GetPermissionResponse" message="tns:IFunctionInfoService_GetPermission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePermission">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/SavePermission" message="tns:IFunctionInfoService_SavePermission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/SavePermissionResponse" message="tns:IFunctionInfoService_SavePermission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFunctByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IFunctionInfoService/GetAllFunctByRole" message="tns:IFunctionInfoService_GetAllFunctByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFunctionInfoService/GetAllFunctByRoleResponse" message="tns:IFunctionInfoService_GetAllFunctByRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFunctionInfoService" type="tns:IFunctionInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllList">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/GetAllList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveList">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/SaveList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exit">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/Exit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupClass">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/GetGroupClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDefaultMenu">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/FindDefaultMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityByName">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/GetEntityByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntity">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/GetEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCanSetPermissionFunc">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/GetCanSetPermissionFunc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCanSetPermissionMenu">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/GetCanSetPermissionMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermission">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/GetPermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePermission">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/SavePermission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFunctByRole">
      <soap:operation soapAction="http://tempuri.org/IFunctionInfoService/GetAllFunctByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FunctionInfoService">
    <wsdl:port name="BasicHttpBinding_IFunctionInfoService" binding="tns:BasicHttpBinding_IFunctionInfoService">
      <soap:address location="http://localhost:3381/FunctionInfoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>