AuthorityClient/Service References/FunctionInfoSer/FunctionInfoService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthorityEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthorityEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3381/FunctionInfoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sharp.Common" />
  <xs:complexType name="FunctionInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Sharp.Common" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CallAssembly" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CallType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClassCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DockingStyle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enable" type="xs:boolean" />
          <xs:element minOccurs="0" name="GroupType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsMainMenu" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMust" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMustNot" type="xs:boolean" />
          <xs:element minOccurs="0" name="MultilInstance" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNo" type="xs:int" />
          <xs:element minOccurs="0" name="Params" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShowText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToolTip" type="xs:boolean" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Version" type="xs:int" />
          <xs:element minOccurs="0" name="Visible" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FunctionInfo" nillable="true" type="tns:FunctionInfo" />
  <xs:complexType name="ArrayOfFunctionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionInfo" nillable="true" type="tns:FunctionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunctionInfo" nillable="true" type="tns:ArrayOfFunctionInfo" />
  <xs:complexType name="ArrayOfPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Permission" nillable="true" type="tns:Permission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermission" nillable="true" type="tns:ArrayOfPermission" />
  <xs:complexType name="Permission">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Sharp.Common" base="q2:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="FunID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEnable" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRight" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsVisble" type="xs:boolean" />
          <xs:element minOccurs="0" name="MenuID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Permission" nillable="true" type="tns:Permission" />
</xs:schema>