AuthorityClient/Service References/UserInfoSer/UserInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserInfoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3381/UserInfoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3381/UserInfoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3381/UserInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:3381/UserInfoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AuthorityEntity" />
      <xsd:import schemaLocation="http://localhost:3381/UserInfoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sharp.Common" />
      <xsd:import schemaLocation="http://localhost:3381/UserInfoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:3381/UserInfoService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:3381/UserInfoService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Text" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserInfoService_GetAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUser" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_GetAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_Exists_InputMessage">
    <wsdl:part name="parameters" element="tns:Exists" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_Exists_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_ResetPwd_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPwd" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_ResetPwd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPwdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_BatchSetOrg_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchSetOrg" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_BatchSetOrg_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchSetOrgResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_BatchSetRole_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchSetRole" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_BatchSetRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchSetRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_GetDepartInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartInfo" />
  </wsdl:message>
  <wsdl:message name="IUserInfoService_GetDepartInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserInfoService">
    <wsdl:operation name="GetAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInfoService/GetAllUser" message="tns:IUserInfoService_GetAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInfoService/GetAllUserResponse" message="tns:IUserInfoService_GetAllUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInfoService/Save" message="tns:IUserInfoService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInfoService/SaveResponse" message="tns:IUserInfoService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInfoService/Exists" message="tns:IUserInfoService_Exists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInfoService/ExistsResponse" message="tns:IUserInfoService_Exists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPwd">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInfoService/ResetPwd" message="tns:IUserInfoService_ResetPwd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInfoService/ResetPwdResponse" message="tns:IUserInfoService_ResetPwd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInfoService/DeleteUser" message="tns:IUserInfoService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInfoService/DeleteUserResponse" message="tns:IUserInfoService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchSetOrg">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInfoService/BatchSetOrg" message="tns:IUserInfoService_BatchSetOrg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInfoService/BatchSetOrgResponse" message="tns:IUserInfoService_BatchSetOrg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchSetRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInfoService/BatchSetRole" message="tns:IUserInfoService_BatchSetRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInfoService/BatchSetRoleResponse" message="tns:IUserInfoService_BatchSetRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserInfoService/GetDepartInfo" message="tns:IUserInfoService_GetDepartInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserInfoService/GetDepartInfoResponse" message="tns:IUserInfoService_GetDepartInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserInfoService" type="tns:IUserInfoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUser">
      <soap:operation soapAction="http://tempuri.org/IUserInfoService/GetAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IUserInfoService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <soap:operation soapAction="http://tempuri.org/IUserInfoService/Exists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPwd">
      <soap:operation soapAction="http://tempuri.org/IUserInfoService/ResetPwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserInfoService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchSetOrg">
      <soap:operation soapAction="http://tempuri.org/IUserInfoService/BatchSetOrg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchSetRole">
      <soap:operation soapAction="http://tempuri.org/IUserInfoService/BatchSetRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartInfo">
      <soap:operation soapAction="http://tempuri.org/IUserInfoService/GetDepartInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserInfoService">
    <wsdl:port name="BasicHttpBinding_IUserInfoService" binding="tns:BasicHttpBinding_IUserInfoService">
      <soap:address location="http://localhost:3381/UserInfoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>