AuthorityClient/Service References/UserInfoSer/UserInfoService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthorityEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthorityEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3381/UserInfoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Sharp.Common" />
  <xs:complexType name="UserInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Sharp.Common" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentGroup" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AgentID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BJDH" type="xs:boolean" />
          <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactContry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactProvincial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntryDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FamilyAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FamilyCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FamilyContry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FamilyPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FamilyProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NickyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QQ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SignaturePhot" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TurnoverDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="WorkDays" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfOrganizationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationInfo" nillable="true" type="tns:OrganizationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationInfo" nillable="true" type="tns:ArrayOfOrganizationInfo" />
  <xs:complexType name="OrganizationInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Sharp.Common" base="q2:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClassCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ComType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enable" type="xs:boolean" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GJ" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Industry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDetails" type="xs:boolean" />
          <xs:element minOccurs="0" name="Legal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Legaler" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LegalerID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LicenseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrgType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Privinace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PubImage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegisteredCapital" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Series" type="xs:int" />
          <xs:element minOccurs="0" name="WebSite" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationInfo" nillable="true" type="tns:OrganizationInfo" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Sharp.Common" base="q3:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enable" type="xs:boolean" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="Iselected" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleClass" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
</xs:schema>