AuthorityClient/Service References/OrganizationInfoSer/OrganizationInfoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sharp.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sharp.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3381/OrganizationInfoService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3381/OrganizationInfoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:3381/OrganizationInfoService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Text" />
  <xs:complexType name="BaseEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System" base="q1:MarshalByRefObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AliasTableName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAutoUpdate" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSelfWhere" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastRecordStatus" type="tns:StatusType" />
          <xs:element minOccurs="0" name="RecordStatus" type="tns:StatusType" />
          <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Where" nillable="true" type="tns:WhereClip" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="changedProperties" nillable="true" type="q2:ArrayOfKeyValueOfstringPropertyChangedEventArgsKzZ0rsbd" />
          <xs:element minOccurs="0" name="status" type="tns:StatusType" />
          <xs:element minOccurs="0" name="where" nillable="true" type="tns:WhereClip" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="add" />
      <xs:enumeration value="update" />
      <xs:enumeration value="delete" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusType" nillable="true" type="tns:StatusType" />
  <xs:complexType name="WhereClip">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExpressionClip">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WhereClip" nillable="true" type="tns:WhereClip" />
  <xs:complexType name="ExpressionClip">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExpressionBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="where" nillable="true" type="tns:WhereClip" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpressionClip" nillable="true" type="tns:ExpressionClip" />
  <xs:complexType name="ExpressionBase">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q3:ArrayOfKeyValueOfstringanyType" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Text" minOccurs="0" name="SqlBuilder" nillable="true" type="q4:StringBuilder" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q5:ArrayOfKeyValueOfstringanyType" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Text" minOccurs="0" name="sqlBuilder" nillable="true" type="q6:StringBuilder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpressionBase" nillable="true" type="tns:ExpressionBase" />
  <xs:complexType name="PropertyChangedEventArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System" base="q7:EventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="MappingColumnName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NewValue" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="OldValue" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropertyChangedEventArgs" nillable="true" type="tns:PropertyChangedEventArgs" />
</xs:schema>