AuthorityClient/Service References/LoginSer/LoginService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthorityEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthorityEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3381/LoginService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Sharp.Common" />
  <xs:complexType name="UserInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Sharp.Common" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactContry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactProvincial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntryDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FamilyAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FamilyCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FamilyContry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FamilyPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FamilyProvince" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IDNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Pwd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SeparationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkDays" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="SystemSessionLog">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Sharp.Common" base="q2:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EntryIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EntryStats" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RoleID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SystemSessionLog" nillable="true" type="tns:SystemSessionLog" />
</xs:schema>